/* Common styles for both desktop and mobile */
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --light-text-color: black;
  --dark-text-color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent the scrollbars from appearing */
}

.input-container {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.artwork-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.song-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin: 0 auto; /* Center vertically */
  max-width: 400px; /* Adjust the max-width as needed */
}

.title-artist-container {
  flex: 1; /* Let the title and artist container take the available space */
  text-align: center;
}

.spotify-button {
  cursor: pointer;
  margin-right: 15px; /* Adjust the spacing between Spotify button and text */
  margin-left: 15px; 
}

/* Add the glow effect to the artwork image */
.artwork-image {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Adjust the glow effect as needed */
}

.artwork-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.435); /* Change the color and opacity as desired */
  z-index: -1;
}

.artwork-background img {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -2; /* Move the image behind the pseudo-element overlay */
  filter: blur(16px) brightness(0.2) grayscale(1);
}

.title-artist-container {
  margin-left: 20px; /* Adjust the margin as needed */
}

div.radio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-pause-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.controls-container {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Add some spacing between the controls and audio element */
}

.volume-slider {
  width: 200px; /* Adjust the slider width as needed */
  margin-left: 10px; /* Add some spacing between the button and volume slider */
}

.logo-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

.logo {
  width: 200px; /* Adjust the logo size as needed */
}

.kofi-banner {
  height: 68px;
  width: 432px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 9999;
}
/* Styles for the Favorites pop-up */
.favorites-popup-container {
  position: relative;
}

.favorites-popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark background color */
  z-index: 999; /* Place the backdrop behind the pop-up */
  display: none; /* Initially hidden */
}

.favorites-popup-container .favorites-popup {
  color: white;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #353535;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Ensure the pop-up is above other elements */
}

.favorites-container button {
  flex-direction: column;
  border-radius: 5px;
}

.favorites-container .favorites-popup button {
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.7); /* Adjust the glow effect as needed */
}

.favorites-container .favorites-popup {
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Adjust the glow effect as needed */
}

.favorites-container .favorites-popup span{
  margin-right: 25px;
}
.favorites-container .favorites-popup div button {
  margin-top: 25px;
}

.favorites-popup h2 {
  margin-bottom: 10px;
}

.favorites-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.favorites-popup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #313131;
}

.favorites-popup span {
  cursor: pointer;
}

.favorites-popup button {
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.volume-slider {
  width: 200px;
  margin-left: 10px;
  /* Customize the appearance of the volume slider */
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #1f1f1f; /* Gray background color */
}

.volume-slider::-webkit-slider-thumb {
  /* Customize the appearance of the slider thumb for WebKit browsers */
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff; /* White slider thumb */
  cursor: pointer;
}

/* Styles for other browsers */
.volume-slider::-moz-range-thumb {
  /* Customize the appearance of the slider thumb for Mozilla Firefox */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff; /* White slider thumb */
  cursor: pointer;
}

.volume-slider::-ms-thumb {
  /* Customize the appearance of the slider thumb for Microsoft Edge */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff; /* White slider thumb */
  cursor: pointer;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  .favorites-popup button {
    color: var(--dark-text-color);
  }
}

/* Media query for light mode */
@media (prefers-color-scheme: light) {
  .favorites-popup button {
    color: var(--light-text-color);
  }
}

@media (max-width: 768px) {
  .mobile-container {
    display: flex;
    flex-direction: column; /* Change the layout to column on mobile */
    align-items: center; /* Center the items horizontally */
  }

  .artwork-container img {
    max-width: 100%;
    height: auto;
  }

  .title-artist-container {
    margin-top: 10px; /* Adjust the margin as needed */
  }
  .kofi-banner {
    height: 34px;
    width: 216px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
  }
  .song-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 0 auto; /* Center vertically */
    max-width: 400px; /* Adjust the max-width as needed */
  }
  
  .title-artist-container {
    flex: 1; /* Let the title and artist container take the available space */
    text-align: center;
  }
  
  .spotify-button {
    cursor: pointer;
    margin-right: 15px; /* Adjust the spacing between Spotify button and text */
    margin-left: 15px;
  }
}


